[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-braces = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
pillow = "*"
django-tinymce4-lite = "*"
django-simple-captcha = "*"
django-admin-honeypot = "*"

[requires]
python_version = "3.7"
