*,
html,
body {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
body {
  height: 1600px;
}

header {
  height: 112px;
  line-height: 112px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header1 {
  animation: header1 1s;
}


@keyframes header1 {
  from {
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 1s;
    line-height: 90px;
    width: 90%;
    height: 90px;
    margin-left: 2%;
  }
  to {
    height: 112px;
    line-height: 112px;
    margin-left: 0%;
  }
}

.secondary {
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 1s;
  line-height: 90px;
  width: 90%;
  height: 90px;
  margin-left: 2%;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;

}

header nav {
  float: right;
}

.logo img {
  margin-top: 60px;
}

header nav ul li a {
  padding-right: 40px;
  font-weight: bold;
  color: white;
  transition: all 200ms;
  border-left: rgb(119, 88, 255) solid 2px;
  border-right: rgb(255, 38, 38) solid 0px;
  padding-left: 10px;
}

header nav ul li a:hover {
  text-decoration: none;
  color: white;
  border-left: rgb(255, 38, 38) solid 2px;
  border-right: rgb(255, 38, 38) solid 2px;
  padding-left: 15px;
}

.img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(..//image/bkg.png);
  background-size: 100% 100%;
}

.slider,
.slider ul,
.slider ul li {
  height: 735px;
  width: 56%;
  color: white;
  text-align: center;
}

.slider h2 {
  font-weight: bold;
  margin-top: 270px;
}

.slider span {
  color: greenyellow;
}

.slider a {
  padding: 18px 50px;
  margin-right: 10px;
}

.slider a.btn-half {
  background-color: rgba(26, 133, 133, 0.637);
  color: whitesmoke;
}

.slider a.btn-half:hover {
  background-color: rgba(26, 133, 133, 0.4);
  transition: 0.3s;
}

.slider a.btn-full {
  background-color: rgba(161, 46, 46, 0.616);
  color: azure;
}

.slider a.btn-full:hover {
  background-color: rgba(161, 46, 46, 0.4);
  transition: 0.3s;
}

.intro-area {
  position: relative;
  padding: 30px 0px;
  text-align: center;
}

.sub-heading {
  position: relative;
  margin-bottom: 75px;
}

.sub-heading::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 39%;
  margin-left: -1%;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 71, 71);
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sub-heading:hover:before {
  width: 24%;
  margin-left: -12px;
}

.sub-heading:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12%;
  width: 24%;
  height: 1px;
  background-color: #e1e1e1;
}

.sub-heading p {
  color: #818181;
  display: inline-block;
  padding: 0px 0px 20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.intro-block {
  position: relative;
  background: #f7f7f7;
  margin: 50px 0px 0px;
  text-align: center;
  padding: 70px 25px 40px;
  transition: 600ms all;
}

.intro-block h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.intro-block:hover {
  background: #ff4848;
  color: white;
}

.intro-block .intro-icon {
  position: absolute;
  top: 10px;
  left: 55%;
  margin-left: -31px;
}

.intro-block .fa {
  width: 63px;
  height: 63px;
  font-size: 30px;
  color: white;
  line-height: 2;
  background: deepskyblue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
}

.intro-block:hover .fa,
.intro-block.active .fa {
  background: #e1e1e1;
  color: #0aabe1;
  box-shadow: 0px 0px 0px 10px deepskyblue;
}

@media (max-width: 550px) {
  header {
    line-height: 50px;
    margin-left: 20px;
  }
  .header1 {
    animation: header1 200ms;
  }

  @keyframes header1 {
    from {
      line-height: 30px;
      height: 170px;
      margin-left: 0;
      padding-left: 20px;
      width: 100%;
    }
    to {
      line-height: 50px;
      margin-left: 20px;
    }
  }
  .secondary {
    line-height: 30px;
    height: 170px;
    margin-left: 0;
    padding-left: 20px;
    width: 100%;
  }
  header nav ul li a {
    color: white;
  }
  
}

@media (max-width: 980px) {
  header nav ul li a {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.527);
  
  }
}

.cc {
  color: rgb(255, 255, 255);
}
.ca a {
 
  transition: all 200ms;
  color: rgb(255, 255, 255);
  background: rgb(255, 51, 51);
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
}
.ca a:hover{
  color: red;
  background: rgb(255, 255, 255);
  text-decoration: none;
  
}
.ca {
  border: black 2px solid;
  width: 300px;
  margin: 200px;
  background: rgba(0, 0, 0, 0.555);
  border-radius: 20px;
  height: 70%;
}