{%extends 'header.html'%}
{% block content%}
	<div class="container">
		<h1>Register</h1>
		<hr>
		<div style="color: red">
		{% if form.errors %}
			{% for error in form.errors.values %}
				{{error}}
			{% endfor %}
		{% endif %}
		</div>

		<form method="post">{% csrf_token %}
		    {{ form.as_p }}
		    <label>Password</label>
		    <input type="password" name="password1">
		    <label>Re-Password</label>
		    <input type="password" name="password2">
		    <input class="btn" type="submit" value="Save">
		</form>
	</div>
	<script type="text/javascript">
		document.getElementById('id_email').setAttribute('required', 'true')
	</script>
{% endblock %} 