
    {%extends 'header.html'%}
    {%block content%}



  <div class="container">        
        <br>
        <h1><span id='title'>Create </span> Option</h1>
        {% if object %}
        <a class="btn" href="{% url 'Projects-detail' object.id%}">View</a>
        {% endif%}
        <hr>
        <div style="color: red">
        {% if form.errors %}
            {% for error in form.errors.values %}
                {{error}}
            {% endfor %}
        {% endif %}
        </div>
  </div>
        <div class="container" >
            <center>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button class="btn btn-success" id="submit">Create</button>
                </form>
            </center>   
        </div>
        <style>
        #id_body{
            height:400px;
        }
        </style>


    <style type="text/css">
        input{
            width: 100%;
            text-align: center

        }
        label{
            padding-top: 10px;
            font-size: 20px
        }
    </style>

    <script type="text/javascript">
        document.getElementById('id_date').type = 'date';
    </script>
    <script type="text/javascript">
        const aTags = document.querySelectorAll('a')
        aTags.forEach(function (tag) {
            if(tag.innerHTML[tag.innerHTML.length-3] == 'j' ){
                tag.href = ''
            }
        });

    </script>



    <script>
        if ('edit' == window.location.pathname.split("/")[2]) {
            document.getElementById('title').innerHTML = 'Edit'
            document.getElementById('submit').innerHTML = 'Save'            
        }
    </script>
    <script>
        document.getElementById('id_published').style.position = 'inherit'; 
        document.getElementById('id_published').style.opacity = 'inherit'; 
        document.getElementById('id_published').style.padding = ''; 
        
    </script>

</div>
{%endblock%}
